<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppId" value="395739090795216" />
    <add key="AppSecret" value="ae252004cebce3d04ef5beb78979dfa2" />
    <add key="Email" value="bonii11a@hotmail.com" />
    <add key="Password" value="l45134@mvrht.com" />
    <add key="RedirectUri" value="https://www.facebook.com/" />
    <!--<add key="StoryUri" value="https://m.facebook.com/story.php?story_fbid=" />
    <add key="ProfileUri" value="https://m.facebook.com/ufi/reaction/profile/browser/?ft_ent_identifier=" />-->
    <add key="StoryUri" value="https://facebook.com/" />
    <add key="ProfileUri" value="https://facebook.com/" />
    <!--<add key="StoryUri" value="https://facebook.com/story.php?story_fbid=" />
    <add key="ProfileUri" value="https://facebook.com/ufi/reaction/profile/browser/?ft_ent_identifier=" />-->
    <add key="FolderStored" value="Data" />
    <add key="FolderMedia" value="Media" />
    <add key="NumberExpandComment" value="20" />
  </appSettings>
</configuration>